<h1>My Profile</h1>

<h3>
  <strong>Usernme:</strong>
  <%= @user %>
</h3>

<h3>
  <strong>Email:</strong>
  <%= @user.email %>
</h3>

<%= link_to 'Back', root_path, class: "btn btn-info btn-sm" %>
<h1>My Profile</h1>

<h3>
  <strong>username:</strong>
  <%= @user %>
</h3>

<h3>
  <strong>Email:</strong>
  <%= @user.email %>
</h3>

<%= link_to 'Back', root_path, class: "btn btn-info btn-sm" %>